.starship-card {
  width: 300px;
  border: 2px solid #c2c813;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  background-color: #a22a1b;
}

