header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
  gap: 36px;
}

a {
  color: #00d8ff;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 16px;
}

nav > a {
  border-bottom: 2px solid transparent;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  border-bottom: 1px solid #20f8ff;
  color: #20f8ff;
}

nav > a:hover {
  border-bottom: 2px solid #20f8ff;
  color: #20f8ff;
}

.link-container {
  padding: 4px 12px;
}

.subsection {
  padding-left: 24px;
}

.logo {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(36000deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
